<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="transaction.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Transaction History</h1>
    <table class="Transactiontable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Purpose Transaction</th>
                <th>Amount</th>
                <th>      </th>
            </tr>
        </thead>
        <tbody>
            <% transactions.forEach(doc=>{ %>
            <tr>
                <td><%= doc.Date %></td>
                <td><%= doc.TypeofTransaction %>,<%= doc.Description %></td>
                <td><%= doc.Amount %></td>
                <td>
                    <i class="fa-solid fa-trash delete-icon" data-transaction-id="<%= doc.id %>"></i>
                    <i class="fa-solid fa-user-pen edit-icon" data-transaction-id="<%= doc.id %>"></i>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <h3 class="total-amount">Total Amount: <%= Totalamount %></h3>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const deleteIcons = document.querySelectorAll(".delete-icon");
    
            deleteIcons.forEach(icon=> {
                icon.addEventListener("click", function() {
                    const transactionId = icon.getAttribute("data-transaction-id");
                    
                    fetch(`/deleteTransaction/${transactionId}`, {
                        method: 'DELETE'
                    })
                    
                });
            });
        });
        
    </script>
    
    <% if (alertMessage) { %>
        <script>
            alert('<%- alertMessage %>');
        </script>
    <% } %>
    
</body>
</html>

=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="transaction.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Transaction History</h1>
    <table class="Transactiontable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Purpose Transaction</th>
                <th>Amount</th>
                <th>      </th>
            </tr>
        </thead>
        <tbody>
            <% transactions.forEach(doc=>{ %>
            <tr>
                <td><%= doc.Date %></td>
                <td><%= doc.TypeofTransaction %>,<%= doc.Description %></td>
                <td><%= doc.Amount %></td>
                <td>
                    <i class="fa-solid fa-trash delete-icon" data-transaction-id="<%= doc.id %>"></i>
                    <i class="fa-solid fa-user-pen edit-icon" data-transaction-id="<%= doc.id %>"></i>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <h3 class="total-amount">Total Amount: <%= Totalamount %></h3>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const deleteIcons = document.querySelectorAll(".delete-icon");
    
            deleteIcons.forEach(icon => {
                icon.addEventListener("click", function () {
                    const transactionId = icon.getAttribute("data-transaction-id");

                    const confirmed = confirm("Are you sure you want to delete this transaction?");
                    if (confirmed) {
                        fetch(`/deleteTransaction/${transactionId}`, {
                            method: 'DELETE'
                        })
                        .then(response => {
                            if (response.ok) {
                               
                            } else {
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    }
                });
            });
        });
    </script>
    
    
    <% if (alertMessage) { %>
        <script>
            alert('<%- alertMessage %>');
        </script>
    <% } %>
    
</body>
</html>

>>>>>>> ce7ff93 (Initial commit)
